{% extends 'waste/base.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="web app">
    <meta name="author" content="ultimate">
    <link rel="icon" href="https://previews.123rf.com/images/ornitopter/ornitopter1510/ornitopter151000165/46712110-lightning-letter-p.jpg">

    <title>ultimate</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <link href="Jumbotron%20Template%20for%20Bootstrap_files/bootstrap.css" rel="stylesheet">

    <link href="Jumbotron%20Template%20for%20Bootstrap_files/jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <main role="main">

      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3 text-danger "> <ins> Waste Management.</ins> </h1>
          <p class="fs-5"   >Waste can be solid, liquid, or gaseous and each
              type has different methods of disposal and management.
              Waste management deals with all types of waste, including
              industrial, biological and household. In some cases, waste
              can pose a threat to human health. Health issues are
              associated throughout the entire process of waste management.
              Health issues can also arise indirectly or directly.
              Directly, through the handling of said waste, and indirectly
              through the consumption of water, soil and food.
              Waste is produced by human activity, for example,
              the extraction and processing of raw materials
              Waste management is intended to reduce adverse effects
              f waste on human health, the environment or aesthetics. </p>
          <p><a class="btn btn-primary btn-lg" href="waste/" role="button">Go Report »</a></p>
        </div>
      </div>
        <div class="container">
        <div class="row">
          <div class="col-md-4">
              <h2 class="text-success"> <ins> Junkyard </ins></h2>
            <p class="fs-5">This is a application where the reports
                regarding wastes are collected from the people and taken a
                serious action regarding it to avoid this .waste can cause
                air and water pollution and produce harmful gases that mix with
                air and cause breathing problems like asthma, and other respiratory
                problems and also causes allergies so in order to stop this kind of
                social harming problem this app plays a vitual impact </p>
          </div>
          <div class="col-md-4">
              <h2 class="text-success"> <ins> Sake of Junkyard </ins></h2>
            <p class="fs-5">Main benifits of this
 application is it creates employment ,better environment it recovers the mother earth
                it reduces pollution probably the biggest advantage of managing waste
                is that it eventually leads to a better and fresher environment </p>
          </div>
          <div class="col-md-4">
              <h2 class="text-success"> <ins> Amiability of Junkyard </ins></h2>
            <p class="fs-5">The main purpose of junkyard is user can login into this without revealing
                thier personal identity, user can easily know the procedures of thier compliment
                reports are highly considered  nd user can name themselves as social workers thy
                can help the mother earth</p>
          </div>
        </div>

        <hr>

      </div>

    </main>

    <footer class="container">
      <p> © PUNITH GOWDA V
      <br> contact: 9035375041
          <br>email : punithgowdaultimate@gmail.com
      </p>
    </footer>

    <script src="Jumbotron%20Template%20for%20Bootstrap_files/jquery-3.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="Jumbotron%20Template%20for%20Bootstrap_files/popper.js"></script>
    <script src="Jumbotron%20Template%20for%20Bootstrap_files/bootstrap.js"></script>

</body>
</html>
{% endblock %}
